*{
	font-family: helvetica;
	text-align: center;
}

.header{
	display: flex;
	flex-wrap: wrap;
	/*justify-content: flex-end;*/
	flex-direction: row-reverse;

	background-image: url(../images/the-flatiron-building.jpg);
	background-size: cover;
	
	height: 350px;
	background-position: 50% 90%;

}

.topnav{
	justify-content: space-between;
}

.broadway h1{
	margin-top: 120px;
	font-family: Helvetica;
	font-size: 70px;
	font-weight: bold;
	color: white;
	text-shadow: 4px 4px red;
	margin-left: 100px;
	letter-spacing: 2px;
}



.topnav li{

	display: inline-flex;
	margin-left: 10px;
	
	font-size: 18px;
	color:white;
	 list-style-type: none;
	 position: relative;
	 top: 25px;
	 margin-bottom: 15px;
	 right: 20px;
	 text-shadow: 1px 1px red;
}

.header a{
	color: white;
}




.middle h2{
	font-size: 32px;
	font-weight: bold;
}

.middle h3, .bottom h3{

	font-size: 23px;
	font-weight: bold;
}

.middle p, .bottom p{
	font-size: 14px;

}

.newyork{
	background-image: url(../images/the-flatiron-building.jpg);
	background-size: cover;
	height: 30px;
	background-position: 50% 50%;

}
.newyork h3{
	color: white;
	font-size: 23px;
	font-weight: bold;
	text-shadow: 2px 2px red;
	
}

.footer{
	background-color: dimgray;
	width: 100%;
}

.container{
	width: 40%;
}


.left{
	width: 30%
	
}

.left p{
	float: left;
	font-size: 12px;
	position: relative;
	bottom: 8px;
	left: 4px;
	text-shadow: 1px 1px red;

}

.right{
	width: 70%
	
}

.right li{
	display: inline;

	font-size: 17px;
	text-shadow: 1px 1px red;
}
	





.footer a, .footer p{
	color:white;
}